In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
df_test=pd.read_csv("Test.csv")
df_train=pd.read_csv("Train.csv")

In [25]:
df_test.columns

Index(['id', 'realtionship_status', 'industry', 'genre', 'targeted_sex',
       'average_runtime(minutes_per_week)', 'airtime', 'airlocation',
       'ratings', 'expensive', 'money_back_guarantee'],
      dtype='object')

In [26]:
df_train.columns

Index(['id', 'realtionship_status', 'industry', 'genre', 'targeted_sex',
       'average_runtime(minutes_per_week)', 'airtime', 'airlocation',
       'ratings', 'expensive', 'money_back_guarantee', 'netgain'],
      dtype='object')

In [27]:
df_train.netgain.value_counts()

False    19853
True      6195
Name: netgain, dtype: int64

In [28]:
df_test['netgain']=-1

In [29]:
df_test.columns

Index(['id', 'realtionship_status', 'industry', 'genre', 'targeted_sex',
       'average_runtime(minutes_per_week)', 'airtime', 'airlocation',
       'ratings', 'expensive', 'money_back_guarantee', 'netgain'],
      dtype='object')

In [30]:
df=pd.concat([df_train,df_test],ignore_index=True)

In [31]:
df.shape

(32561, 12)

In [32]:
df.netgain.value_counts()

 0    19853
-1     6513
 1     6195
Name: netgain, dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 12 columns):
id                                   32561 non-null int64
realtionship_status                  32561 non-null object
industry                             32561 non-null object
genre                                32561 non-null object
targeted_sex                         32561 non-null object
average_runtime(minutes_per_week)    32561 non-null int64
airtime                              32561 non-null object
airlocation                          32561 non-null object
ratings                              32561 non-null float64
expensive                            32561 non-null object
money_back_guarantee                 32561 non-null object
netgain                              32561 non-null int64
dtypes: float64(1), int64(3), object(8)
memory usage: 3.0+ MB

In [34]:
cols=df.columns
cols=cols.drop(['id','netgain'])

In [35]:
cols

Index(['realtionship_status', 'industry', 'genre', 'targeted_sex',
       'average_runtime(minutes_per_week)', 'airtime', 'airlocation',
       'ratings', 'expensive', 'money_back_guarantee'],
      dtype='object')

In [36]:
print(len(df.realtionship_status.value_counts()))
print(len(df.industry.value_counts()))
print(len(df.genre.value_counts()))
print(len(df.targeted_sex.value_counts()))
print(len(df.airtime.value_counts()))
print(len(df.airlocation.value_counts()))
print(len(df.expensive.value_counts()))
print(len(df.money_back_guarantee.value_counts()))
print(len(df.airlocation.value_counts()))

7
6
5
2
3
42
3
2
42

In [37]:
df.money_back_guarantee.value_counts()

Yes    16403
No     16158
Name: money_back_guarantee, dtype: int64

In [38]:
df.expensive.value_counts()

Low       19642
High       9098
Medium     3821
Name: expensive, dtype: int64

In [39]:
df['expense']=4

In [40]:
df.loc[df.expensive=='Low','expense']=3
df.loc[df.expensive=='High','expense']=1
df.loc[df.expensive=='Medium','expense']=2

In [41]:
df.expense.value_counts()

3    19642
1     9098
2     3821
Name: expense, dtype: int64

In [42]:
df=df.drop(['expensive'],axis=1)

In [43]:
df.columns

Index(['id', 'realtionship_status', 'industry', 'genre', 'targeted_sex',
       'average_runtime(minutes_per_week)', 'airtime', 'airlocation',
       'ratings', 'money_back_guarantee', 'netgain', 'expense'],
      dtype='object')

In [44]:
df=pd.get_dummies(df,columns=['realtionship_status','industry','genre','targeted_sex','airtime','money_back_guarantee'])

In [45]:
df.columns

Index(['id', 'average_runtime(minutes_per_week)', 'airlocation', 'ratings',
       'netgain', 'expense', 'realtionship_status_Divorced',
       'realtionship_status_Married-AF-spouse',
       'realtionship_status_Married-civ-spouse',
       'realtionship_status_Married-spouse-absent',
       'realtionship_status_Never-married', 'realtionship_status_Separated',
       'realtionship_status_Widowed', 'industry_Auto', 'industry_ClassAction',
       'industry_Entertainment', 'industry_Other', 'industry_Pharma',
       'industry_Political', 'genre_Comedy', 'genre_Direct', 'genre_Drama',
       'genre_Infomercial', 'genre_Other', 'targeted_sex_Female',
       'targeted_sex_Male', 'airtime_Daytime', 'airtime_Morning',
       'airtime_Primetime', 'money_back_guarantee_No',
       'money_back_guarantee_Yes'],
      dtype='object')

1